
@import "../node_modules/semantic-ui-calendar-react/dist/css/calendar.min.css";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#main {
  width: 100%;
  height: 100%;
  text-align: left;
  background-image: url('images/header-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  margin: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body {
  background-color: #f7f7f7;
}

.ui.menu {
  margin: 0;
}

.box {
  margin-top: 10px;
}

.grid-box {
  margin-top: 40px;
}


html,
body,
body > div,
body > div > div,
body > div > div > div {
  height: 100%;
}

.ui.container {
  width: 80%;
}

.ui.header.white {
  color: white;
}

.ui.header.white .sub.header {
  color: white;
}

#main .header {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

#main .sub.header {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin: 10px 0;
  font-weight: lighter;
}

.ui.page.modals.transition.visible {
  display: flex !important;
}

#schedule-modal,
#schedule-modal > div {
  height: auto;
}

#date-time-table {
  width: 50% !important;
  margin: 0 auto;
}

#top-menu {
  border-radius: 0;
  margin-bottom: 20px;
}

#menu-logo {
  font-family: 'Oswald', sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: white;
}

.status {
  padding-top: 2px;
  text-transform: uppercase;
  font-weight: 300;
}

.professional-title {
  font-family: 'Oswald' !important;
  text-transform: uppercase;
  margin-bottom: 2px;
}

/*  */
.professional-subtitle {
  color: rgba(0,0,0,.5);
  margin-bottom: 4px;
}

.professional-modalities {
  margin-bottom: 10px;
}

.dv-star-rating {
  font-size: 22px;
}

.professional-rating {
  margin: -10px;
}

#reviews-list {
  max-width: 100%;
}

.picture-upload-container {
  margin-bottom: 20px;
}

#picture-upload-label {
  width: 100%;
  border: 0;
}

#image-preview-upload  {
  display: inline-block;
}

#image-preview-upload ~ .sub-header {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  display: block;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.2em;
  color: rgba(0,0,0,.6);
  margin: 1rem 1rem;
}

.card-image {
  width: 290px;
  height: 290px;
}

.left {
  text-align: left;
}